<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated planes -->
      <package
            uri="http://planes/planes"
            class="planes.PlanesPackage"
            genModel="model/planes.genmodel"/>
   </extension>
   <extension
         point="dk.dtu.imm.se.ecno.eclipse.package_adapter_factory">
      <adapter_factory
            class="dk.dtu.compute.se.richard.planes.coordination.PlanesFactory"
            uri="planes.ECNO">
      </adapter_factory>
   </extension>

	<extension
		point="dk.dtu.imm.se.ecno.eclipse.engine_controller_configurator">
		<configurator
			class="dk.dtu.compute.se.richard.planes.controller.PlanesConfigurator"
			uri="dk.dtu.compute.se.richard.planes.controller.PlanesConfigurator">
		</configurator>
	</extension>
	
</plugin>
